<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
    <title>Shopping Store</title>


    <style>
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li:last-child {
            margin-right: 0;
        }

        nav ul li a {
            text-decoration: none;
        }
    </style>
</head>
<header th:replace="~{HeaderAndFooter::Header}">
    <h1>Vidhi's Store</h1>
</header>
<body>
<div class="container">
    <h1>Checkout Page</h1>
    <table th:if="${productList != null && productList != ' '}">
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>ProductPrice</th>
        </tr>
        <tr th:each="s : ${productList}">
            <td th:text="${s.id}">None</td>
            <td th:text="${s.name}">None</td>
            <td th:text="${s.price}">None</td>
        </tr>
    </table>
    <div id="totals">
        Subtotal: $<span id="subtotal">0.00</span><br/>
        Sale Tax (13%): $<span id="saleTax">0.00</span><br/>
        Total: $<span id="total">0.00</span><br/>
    </div>

</div>
</body>
<footer th:replace="~{HeaderAndFooter::footer}">
    Copyright © Vidhi Kalal 991706094
</footer>


</html>

