<!DOCTYPE html>


    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
        <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
        <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
        <title>Shopping Store</title>


        <style>
            nav ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            nav ul li {
                display: inline;
                margin-right: 20px;
            }

            nav ul li:last-child {
                margin-right: 0;
            }

            nav ul li a {
                text-decoration: none;
            }
        </style>
    </head>


    <header th:replace="~{HeaderAndFooter::Header}">
        <h1>Vidhi's Store</h1>
    </header>


<body>

<div class="content">
    <h1>Welcome to Our Online Store</h1>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/product.html">Product</a></li>
            <li><a href="shopping.html">Shopping </a></li>
            <li><a href="checkout.html">Checkout</a></li>
        </ul>
    </nav>
    <img src="Images/shoppingstore.png" alt="Welcome Image">

    <footer th:replace="~{HeaderAndFooter::footer}">
        Copyright © Vidhi Kalal 991706094
    </footer>

</div>

</body>
</html>


