<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
    <title>Shopping Store</title>


    <style>
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li:last-child {
            margin-right: 0;
        }

        nav ul li a {
            text-decoration: none;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>Vidhi's Store</h1>
    <nav>
        <ul>
            <li><a href="#">Home Page</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Shopping</a></li>
            <li><a href="#">Checkout</a></li>
        </ul>
    </nav>
    <table id="productTable">
        <!-- Your table rows go here -->
    </table>
    <form id="productForm">
        <input type="text" id="productId" placeholder="Id">
        <input type="text" id="productName" placeholder="Name">
        <input type="number" id="productPrice" placeholder="Price">
        <button type="submit">Add Product!</button>
    </form>
</div>
</body>


<script>

    document.getElementById('add-product-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent form submission
        var productName = document.getElementById('product-name').value;
        addProduct(productName);
    });


    function addProduct(productName) {
        // Generate a 9-digit random product id
        var productId = Math.floor(100000000 + Math.random() * 900000000);
        var productList = document.getElementById('product-list');
        var listItem = document.createElement('li');
        listItem.textContent = 'Product ID: ' + productId + ' - ' + productName;
        productList.appendChild(listItem);
        // Clear the input field after adding the product
        document.getElementById('product-name').value = '';
    }
</script>

</html>
