<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
    <title>Shopping Store</title>


    <style>
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li:last-child {
            margin-right: 0;
        }

        nav ul li a {
            text-decoration: none;
        }
    </style>
<body>
<header th:replace="~{HeaderAndFooter::Header}">
    <h1>Vidhi's Store</h1>
</header>

<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Quantity</th>

    </tr>
    <tr th:each="s : ${productList}">
        <td th:text="${s.id}">None</td>
        <td th:text="${s.name}">None</td>
        <td th:text="${s.price}">None</td>
        <td><a th:href="@{'/AddtoCart/' + ${s.id}}">Add to Cart</a></td>

    </tr>

    </thead>

</table>

<table>
<tr>Items in Cart</tr>
<td th:text="${cartSize}">0</td>


</table>


<footer th:replace="~{HeaderAndFooter::footer}">
    Copyright © Vidhi Kalal 991706094
</footer>
<!--<script>-->
<!--    // JavaScript to handle adding products to the shopping cart-->
<!--    const addToCartButtons = document.querySelectorAll('.add-to-cart');-->
<!--    const cartCount = document.querySelector('.cart-count');-->
<!--    let itemCount = 0; // Initialize item count-->

<!--    addToCartButtons.forEach(button => {-->
<!--        button.addEventListener('click', () => {-->
<!--            const productId = button.getAttribute('data-product-id');-->
<!--            // Perform actions to add product to shopping cart, e.g., update backend, local storage, etc.-->
<!--            itemCount++; // Increment item count-->
<!--            cartCount.textContent = itemCount; // Update cart count display-->


<!--        });-->
<!--    });-->
<!--</script>-->




</body>
</html>


